<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Menu Root -->
    <menuitem id="menu_cham_cong_root" 
              name="Chấm Công" 
              sequence="15"
              web_icon="cham_cong,static/description/icon.png"/>
    
    <!-- Cụm Menu Chấm Công (Dropdown) -->
    <menuitem id="menu_cham_cong_category" 
              name="Chấm Công" 
              parent="menu_cham_cong_root" 
              sequence="10"/>

    <!-- Menu Danh sách Chấm Công -->
    <menuitem id="menu_cham_cong" 
              name="Danh sách Chấm Công" 
              parent="menu_cham_cong_category" 
              action="action_cham_cong" 
              sequence="10"/>
    
    <!-- Menu Đợt Đăng Ký -->
    <menuitem id="menu_dot_dang_ky" 
              name="Đợt Đăng Ký" 
              parent="menu_cham_cong_root" 
              action="action_dot_dang_ky" 
              sequence="20"/>
    
    <!-- Menu Đăng Ký Ca Làm -->
    <menuitem id="menu_dang_ky_ca_lam" 
              name="Đăng Ký Ca Làm" 
              parent="menu_cham_cong_root" 
              action="action_dang_ky_ca_lam_theo_ngay" 
              sequence="30"/>
    
    <!-- Menu Đơn Từ -->
    <menuitem id="menu_don_tu" 
              name="Đơn Từ" 
              parent="menu_cham_cong_root" 
              action="action_don_tu" 
              sequence="40"/>
</odoo>
